body {
    padding: 0;
    margin: 0;
}

.p2p-form {
    padding: 10px;
    width: 355px;
    background: #251e30;
    color: #e7e1e1;
    font-family: 'Roboto', sans-serif;
}

.p2p-form__input-group {
    background: #1d1b28;
    margin: 10px 0;
    display: flex;
}

.p2p-form__input-group input {
    background: #1d1b28;
    color: #e7e1e1;
    border: 0;
    padding: 0;
}

.p2p-form__input-group__input {

}

.p2p-form__input-group label {
    color: #797c8c;
}

.p2p-form__input__unit {
    color: #797c8c;
    text-align: right;
}

.p2p-form__action-name {
    display: inline-block;
    font-size: 22px;
}

.p2p-form__button-group {
    display: flex;
    margin: 10px 0;
    width: 100%;
}

.p2p-form__button-group button {
    display: inline-block;
    width: 50%;
    height: 35px;
    border: 0;
}

.p2p-form__button-group button.enabled {
    background: #4bb14e;
    color: #e7e1e1;
}

.p2p-form__button-group button.disabled {
    background: #2c273d;
    color: #974652;
}